@{
    string profilePhoto = Context.Session.GetString("UserProfileImage");
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RoomieRoster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RoomieRosterWeb.styles.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <link rel="canonical" href="https://icons.getbootstrap.com/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container position-absolute top-0 end-0 p-3">
       
        </div>
    </div>
    <div class="spinner">
        <div class="spinner-grow bg-custom-1" role="status">
        </div>
    </div>
    <header>
        <nav class="navbar navbar-dark bg-dark bg-custom-1 navbar-expand-sm px-5">
            <a class="navbar-brand brand-bold" href="/">
                RoomieRoster
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-list-4" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-list-4">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex align-items-center">
                        <a href="/Chat/Index" class="nav-link">
                            Mesajlar
                        </a>
                    </li>
                    <li class="nav-item d-flex align-items-center">
                        <a href="/Favourites/Index" class="nav-link">
                            Favoriler
                        </a>
                    </li>
                    @await Html.PartialAsync("_UserProfilePartial")
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted ">
        <div class="container text-center">
            &copy; 2024 - RoomieRoster by <a href="https://www.digitson.com.tr" class="digitsonLink">
                <img src="~/img/db1.png" width="70" />
            </a>
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.3/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function () {
            window.setInterval(function () {
                $('.toast').each(function (key, element) {
                    $('.timeDifference', element).text(timeDifferenceMessage($('#createdAt').val()));
                });
            }, 1000);

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

