@using System.Security.Claims
@{
    string profilePhoto = Context.Session.GetString("UserProfileImage");
    var userIdClaim = Context.User.FindFirst(ClaimTypes.NameIdentifier);

}

<input type="hidden" value="@userIdClaim?.Value" name="userId" />
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <img src="data:image/jpeg;base64, @profilePhoto" width="40" height="40" class="rounded-circle user-profile-image header">
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item nav-item px-3 digitsonLink" href="/Auth/Logout">Çıkış Yap</a>
    </div>
</li>
<script src="~/js/address.js"></script>

<script>window.addEventListener('DOMContentLoaded', () => {
        var settings = {
            "url": `${window.config.baseUrl}api/user/${window.jQuery("[name=userId]").val()}`,
            "method": "GET",
            "timeout": 0,
            "headers": {
                "Authorization": `Bearer ${document.cookie.split('AccessToken=').slice(-1)[0].split(';')[0]}`,
            },
        };

        $.ajax(settings).done(function (response) {
            console.log(response);
            $('.header.user-profile-image').prop('src', 'data:image/jpeg;base64, ' + (response.data || {}).profilePhoto)
        });
    });</script>