@{
Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RoomieRoster - Uygun ev arkadaşını bul</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RoomieRosterWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/landing.css"  asp-append-version="true"/>
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
    <link rel="canonical" href="https://icons.getbootstrap.com/">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>
</head>

<body>
    <div class="letsStart">
        <img src="~/img/hand-pointer.png" width="48" height="48">
        Hemen Kullan!
    </div>
    <section class="hero-section">
        <h1 class="logo">Roomieroster</h1>
        <nav class="nav">
            <section>
                <a class="navLink" href="#whatis-section">RoomieRoster Nedir ?</a>
                <a class="navLink" href="#why-section">Neden RoomieRoster ?</a>
                <a class="navLink" href="#how-it-works-section">Nasıl Çalışır?</a>
            </section>
        </nav>
        <div style="top: 47%; position:relative">
            <h1>Sana en uygun ev arkadaşını bul</h1>
            <p>Uygulamayı kullan, eşleş ve tercihlerine uygun potansiyel ev arkaşları ile mesajlaş.</p>
            <button class="cta-button">Haydi başlayalım!</button>
        </div>
    </section>

    <div class="info-sections mt-5 container">
        <div class="d-flex flex-row mb-5 mt-5" id="whatis-section">
            <section class="features-section text-wrap info-section">
                <h2 class="section-header">RoomieRoster Nedir ?</h2>
                RoomieRoster, ev arkadaşı bulmayı kolay ve güvenilir bir sürece dönüştüren yenilikçi bir platformdur. Yaşam tarzınıza ve tercihlerinize uygun ev arkadaşlarını bulmanıza yardımcı olmak için tasarlanmıştır. Kullanıcıların profillerini oluşturarak, uyumlu olduğunu düşündükleri kişilerle etkileşime geçmelerini sağlayan bu platform, ev arkadaşı arayanlar için ideal bir çözümdür. Güvenli bir ortamda, benzer ilgi alanlarına sahip kişileri bulmanıza ve yeni arkadaşlıklar edinmenize olanak tanır.
            </section>
            <div class="splash d-flex justify-content-center align-items-center align-self-center" style="margin-left: 20%;">
                <img class="info-section-image"  src="~/img/whatisroomie.png">
            </div>
         
        </div>
        <div class="d-flex justify-content-end mb-5" id="why-section">
            <div class="splash d-flex justify-content-center align-items-center align-self-center" style="margin-right: 20%;">
                <img class="info-section-image" src="~/img/whyroomie.png">
            </div>
            <section class="features-section text-wrap info-section">
                <h2 class="section-header">Neden RoomieRoster ?</h2>
                RoomieRoster, ev arkadaşı arama sürecini basit, hızlı ve keyifli hale getirir. Algoritması, ilgi alanlarınız, yaşam tarzınız ve diğer önemli kriterlerinizi dikkate alarak sizinle en uyumlu kişileri eşleştirir. Böylece, sadece bir ev arkadaşı değil, aynı zamanda uzun süreli dostluklar kurma potansiyeline sahip olduğunuz insanlarla tanışma şansı elde edersiniz. RoomieRoster, güvenliğinizi ve mahremiyetinizi ön planda tutar; böylece yeni insanlarla tanışırken kendinizi güvende hissedebilirsiniz.
            </section>
        </div>
       <div class="mb-5 mt-5 d-flex" id="how-it-works-section">
            <section class="how-it-works-section align-self-end text-wrap info-section-list">
                <h2 class="section-header">Nasıl çalışır ?</h2>
               RoomieRoster kullanmak çok kolaydır:
            <ul class="how-it-works-list">
                <li> Kayıt Olun: Hızlı bir kayıt işlemiyle başlayın ve profilinizi oluşturun.</li>
                <li> Tercihlerinizi Belirtin: Yaşam tarzınız, ilgi alanlarınız ve ev arkadaşından beklentileriniz hakkında bilgi verin.</li>
                <li> Eşleşmeleri İnceleyin: Algoritmamız, sizinle uyumlu olduğunu düşündüğümüz kullanıcıları size önerir.</li>
                <li> Mesajlaşın: İlginizi çeken kişilerle güvenli bir şekilde iletişime geçin ve tanışın.</li>
                <li> Ev Arkadaşınızı Bulun: Uygun olduğunu düşündüğünüz kişiyle anlaşın ve yeni bir başlangıç yapın!</li>
                <li> Her adımda, RoomieRoster'ın kullanıcı dostu arayüzü ve kapsamlı destek sistemi, sürecin her aşamasında yanınızdadır.</li>
            </ul>
            </section>
            <div class="d-flex justify-content-center align-items-center splash align-self-center" style="margin-left: 15%;">
                <img class="info-section-image" src="~/img/howitworksroomie.png">
            </div>
       </div>
    </div>
    <footer class="d-flex justify-content-center align-items-center mt-5">
          <div class="container text-center">
            &copy; 2024 - RoomieRoster. Created by <a href="https://www.digitson.com.tr" class="digitsonLink">
                <img src="~/img/db1.png" width="70" />
            </a>
        </div>
    </footer>
</body>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

<script>
    document.querySelector('.letsStart').addEventListener('click', ()=>{
        window.location.replace('/Home/App');
    });

    document.querySelector('.cta-button').addEventListener('click', ()=>{
        window.location.replace('/Home/App');
    });
</script>
</html>